.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-title {
  font-size: 4vw;
  margin-right: auto;
}

.App-header {
  background-color: #222;
  height: 20%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center

}


.vertical_center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}
